.about {
  margin: 32px;
  padding-bottom: 30px;
}

.about__title {
  @include subtitle;
  margin-bottom: 0;
}

.about__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
}
