.categories {
  padding-top: 90px;
  text-align: center;
  background: url("../img/toys.jpg") no-repeat center $light-grey;
  background-size: cover;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.categories__title {
  margin: auto 20px;

  @include heading;
}

.categories__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 115px;
  padding-left: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.categories__item {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: left;
}

.categories__link {
  display: block;
  padding: 25px;
  text-decoration: none;
  color: $white;

  &--interior {
    background: $light-green;
  }

  &--toy {
    background: $extra-green;
  }

  @media (min-width: $tablet-width) {
    padding-right: 130px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 300px;
  }
}
