.categories {
  background: url("../img/toys.jpg") no-repeat center $light-grey;
  background-size: cover;
  padding-top: 90px;
  text-align: center;
}

.categories__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: auto 20px;
}

.categories__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 100px 0;
  padding-left: 0;
}

.categories__item {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: left;
}

.categories__link {
  display: block;
  text-decoration: none;
  color: $white;
  padding: 25px;

  &--interior {
    background: $light-green;
  }

  &--toy {
    background: $extra-green;
  }
}
