.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__map {
  background: $light-cream;
}

.contacts__write-us {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: 2px solid $dark;
}

.contacts__table {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $dark;
}
