.reviews {
  text-align: left;
  padding-bottom: 45px;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-left: 40px;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $dark;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}

.reviews__author-nickname {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $dark;
}

.reviews__buttons {
  margin-top: 30px;
  text-align: center;
}

.reviews__previous,
.reviews__next {
  padding: 13px 40px;
}

.reviews__write {
  display: block;
  font-size: 18px;
  line-height: 20px;
  border: 2px solid $dark;
  margin-top: 40px;
  padding: 16px 65px;
}
