.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.reviews__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $dark;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

.reviews__author-nickname {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $dark;
}

.reviews__write {
  font-size: 18px;
  line-height: 20px;
  border: 2px solid $dark;
}
