.page-header {
  display: flex;
  justify-content: flex-end;

  @include page-font;

  color: $black;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 396px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: auto;
  }
}

.page-header__logo {
  height: 80px;

  @media (min-width: $tablet-width) {
    height: 90px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    z-index: 2;
    height: 90px;
  }
}
