//Colors

$white: #ffffff;
$black: #000000;
$extra-black: #231f20;
$dark: #444444;
$grey: #e5e5e5;
$extra-grey: #ececec;
$light-grey: #f1f1f1;
$teal: #149080;
$caribbean: #62d1ba;
$light-green: #63d1bb;
$extra-green: #56c3b2;
$shamrock: #6bc6b3;
$light-cream: #fcf8f0;

//Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
