body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  background-color: $white;
//color: $black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
