.main-navigation {
  font-weight: 700;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
  }
}

.main-navigation__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.main-navigation__list {
  padding: 0;
  list-style: none;
}
