.site-list {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
    width: 450px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-left: 50px;
  }
}

.site-list__item a {
  text-decoration: none;
  color: $black;
}

.main-navigation__list li:nth-child(2) {
  margin-left: 20px;
}
